Package: com.rpetrich.sslpatch
Priority: optional
Section: Tweaks
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Version: 0.1
Description: Fix SSL Bug
Name: SSLPatch
Depends: firmware (>= 6.0), mobilesubstrate (>= 0.9.5001), firmware (<< 7.0.6)
Homepage: http://rpetri.ch/cydia/sslpatch
Depiction: http://rpetri.ch/cydia/sslpatch
Sponsor: thebigboss.org <http://thebigboss.org>
Author: Ryan Petrich <rpetrich+sslpatch@gmail.com>
Tag: purpose::extension
dev: rpetrich
